html {
    height: 100%;
}

.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.selectable {
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

a:hover {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.error {
    color: red;
}

.login-container {
    height: 90%;
}

.login-body, main::before {
    background: url("../images/bg/bg2.jpg") 0 / cover fixed;
}

/* 弃用 */
main {
    background: hsla(0, 0%, 100%, .3);
    position: relative;
    overflow: hidden;
    border-radius: 5%;
}

/* 弃用 */
main::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    filter: blur(20px);
    z-index: -1;
    margin: -30px;
}

/*.panel-body {*/
/*    background: hsla(0, 0%, 100%, .7);*/
/*}*/


.frame-inline {
    width: 100%;
    height: 800px;
    border: none;
}

.selected {
    color: #4169E1 !important;
}

.glass {
    background-color: hsla(0, 0%, 100%, .3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(20px);
    border: none;
    /*color: #808A87;*/
    font-weight: 700;
}

.footer-shrink-right {
    width: 276px !important;
    height: 55px;
    right: 0;
    border-radius: 5px 0 0 0;
    color: #333333;
}

.footer-shrink-left {
    width: 276px !important;
    border-radius: 0 5px 0 0;
    color: #333333;
}

.glass-login {
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 5%;
}

.glass-version {
    border-radius: 15px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.upload-time {
    width: 40%;
}

.status {
    width: 10%;
}

.student-page {
    background: url("../images/bg/bg3.jpg") 0 / cover fixed;
}

.teacher-page {
    background: url("../images/bg/bg3.jpg") 0 / cover fixed;
}

.glass-heading {
    border-radius: 5px;
    margin: 15px;
}


.panel-footer {
    background: none;
    border: none;
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background: hsla(0, 0%, 100%, .333);
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: none;
}

.table-bordered {
    border: none;
}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
    background-color: #f5f5f5
}

table.treetable tr.branch {
    background: none;
}

.dataTables_paginate.paging_bootstrap.pagination li a {
    color: black;
}

.dataTables_paginate.paging_bootstrap.pagination li {
    border: 1px solid #999;
}

.dataTables_paginate.paging_bootstrap.pagination li a {
    color: #87CEEB;
}