:root {
    /* COLORS */
    --white: #e9e9e9;
    --gray: #333;
    --blue: #0367a6;
    --lightblue: #008997;

    /* RADII */
    --button-radius: 0.7rem;

    /* SIZES */
    --max-width: 758px;
    --max-height: 420px;

    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

    --bg-login: url("../images/bg/bg2.jpg") 0 / cover fixed;
    --bg-teacher-main: url("../images/bg/bg3.jpg") 0 / cover fixed;
    --bg-student-main: url("../images/bg/bg3.jpg") 0 / cover fixed;
}

html {
    height: 100%;
}

.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.selectable {
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

a:hover {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.error {
    color: red;
}

.login-container {
    height: 90%;
}

.login-body {
    background: var(--bg-login);
}


.frame-inline {
    width: 100%;
    height: 800px;
    border: none;
}

.selected {
    color: #4169E1 !important;
}

.glass {
    background-color: hsla(0, 0%, 100%, .3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(20px);
    border: none;
    /*color: #808A87;*/
    font-weight: 700;
    box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25), 0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);
}

.glass-content {
    background-color: hsla(0, 0%, 100%, .7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(20px);
    box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25), 0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);
}

.glass-upload {
    background-color: hsla(0, 0%, 100%, .3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(20px);
}

.footer-shrink-right {
    width: auto !important;
    right: 0;
    border-radius: 5px 0 0 0;
    color: #333333;
    padding: 0 15px;
}

.footer-shrink-left {
    width: auto !important;
    border-radius: 0 5px 0 0;
    color: #333333;
    padding: 0 15px;
}

.footer.sticky-footer {
    width: auto;
}

.glass-login {
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 5%;
}

.glass-version {
    border-radius: 15px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.upload-time {
    width: 40%;
}

.status {
    width: 15%;
}

.student-page {
    background: var(--bg-student-main);
}

.teacher-page {
    background: var(--bg-teacher-main);
}

.glass-heading {
    border-radius: 5px;
    margin: 15px;
}


.panel-footer {
    background: none;
    border: none;
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background: hsla(0, 0%, 100%, .333);
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: none;
}

.table-bordered {
    border: none;
}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
    background-color: #f5f5f5
}

table.treetable tr.branch {
    background: none;
}

.dataTables_paginate.paging_bootstrap.pagination li a {
    color: black;
}

.dataTables_paginate.paging_bootstrap.pagination li {
    border: 1px solid #999;
}

.dataTables_paginate.paging_bootstrap.pagination li.disabled a {
    color: #777;
}

table#treeTable td {
    padding: 4px 0;
    font-size: medium;
}

.datetimepicker td, .datetimepicker th {
    line-height: initial;
}

.form-horizontal .form-group {
    border-bottom: 1px solid rgba(167, 167, 167, 0.15);
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.control-label {
    line-height: normal;
}

input.form-control {
    background: #fff !important;
}

.btn-max {
    width: 100%;
}

/*Star rating css starts*/
.caption {
    position: absolute;
    margin: 10px 5px;
}

div.rating-container {
    width: 70%;
}

.inline-display {
    /*display: inline;*/
    display: inline-block;
    padding: 5px 14px;
    border-radius: 15px;
    background-color: #EFF2F7;
    border: 1px solid #EFF2F7;
    color: #535351;
}

.rating-input {
    display: none;
}

/*Star rating css ends*/

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0 rgba(255, 255, 255, .5),
    7px 7px 20px 0 rgba(0, 0, 0, .1),
    4px 4px 5px 0 rgba(0, 0, 0, .1);
    outline: none;
}

/* 1 */
.btn-1 {
    background: rgb(6, 14, 131);
    background: linear-gradient(0deg, rgba(6, 14, 131, 1) 0%, rgba(12, 25, 180, 1) 100%);
    border: none;
}

.btn-1:hover {
    background: rgb(0, 3, 255);
    background: linear-gradient(0deg, rgba(0, 3, 255, 1) 0%, rgba(2, 126, 251, 1) 100%);
}

/* 4 */
.btn-4 {
    color: #333333;
    background-color: #4dccc6;
    background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
    line-height: 42px;
    padding: 0;
    border: none;
}

.btn-4:hover {
    color: black;
    background-color: #89d8d3;
    background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
}

.btn-4 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.btn-4:before,
.btn-4:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .9),
    -4px -4px 6px 0 rgba(116, 125, 136, .2),
    inset -4px -4px 6px 0 rgba(200, 200, 200, .9),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
    transition: all 0.3s ease;
}

.btn-4:before {
    height: 0;
    width: .1px;
}

.btn-4:after {
    width: 0;
    height: .1px;
}

.btn-4:hover:before {
    height: 100%;
}

.btn-4:hover:after {
    width: 100%;
}

.btn-4 span:before,
.btn-4 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .9),
    -4px -4px 6px 0 rgba(116, 125, 136, .2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, .9),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
    transition: all 0.3s ease;
}

.btn-4 span:before {
    width: .1px;
    height: 0;
}

.btn-4 span:after {
    width: 0;
    height: .1px;
}

.btn-4 span:hover:before {
    height: 100%;
}

.btn-4 span:hover:after {
    width: 100%;
}

.btn-4:active {
    margin-top: 10px;
    transition: all 0.3s ease;
}
