<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--通用头 starts-->
<head th:fragment="common_header">
    <!--通用css starts-->
    <link href="css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
    <link href="css/style-responsive.css" th:href="@{/css/style-responsive.css}" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link href="css/report.css" th:href="@{/css/report.css}" rel="stylesheet">
    <!--通用css ends-->
    <meta charset="UTF-8">
    <title>common</title>
</head>
<!--通用头 ends-->
<body>

<!--教师首页顶部导航 starts-->
<nav id="teacher_common_nav" class="navbar navbar-default" role="navigation">
    <div class="container-fluid nav-gradient">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="javascript:;">
                <img src="images/logo.png" alt="">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li id="home"><a th:href="@{/mainTeacher}">首页</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                        <span th:text="${session.loginUser.tname}">John Doe</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="fa fa-cog" th:href="@{/changePasswd(id=${session.loginUser.tno})}"> 修改密码</a></li>
                        <li><a class="fa fa-sign-out" th:href="@{/logout}"> 退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!--教师首页顶部导航 ends-->

<!--学生首页顶部导航 starts-->
<nav id="student_common_nav" class="navbar navbar-default" role="navigation">
    <div class="container-fluid nav-gradient">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="images/logo.png" alt="">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a th:href="@{/mainStudent}">首页</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <!--<img alt="" src="images/photos/user-avatar.png">-->
                        <span th:inline="text">[[${session.loginUser.name}]]</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <!--<li><a href="#">Profile</a></li>-->
                        <li><a class="fa fa-cog" th:href="@{/changePasswd(id=${session.loginUser.sno})}"> 修改密码</a></li>
                        <li><a class="fa fa-sign-out" th:href="@{/logout}"> 退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!--学生首页顶部导航 ends-->

<!--通用footer starts-->
<div id="common_footer">
    <footer class="sticky-footer glass">
        实验报告系统V<span th:text="#{version}"></span>
    </footer>
</div>
<!--通用footer ends-->

<!--通用左缩小footer starts-->
<div id="common_footer_shrink_right">
    <footer class="sticky-footer glass footer-shrink-right">
        实验报告系统V<span th:text="#{version}"></span>
    </footer>
</div>
<!--通用左缩小footer ends-->

<!--通用右缩小footer starts-->
<div id="common_footer_shrink_left">
    <footer class="sticky-footer glass footer-shrink-left">
        实验报告系统V<span th:text="#{version}"></span>
    </footer>
</div>
<!--通用右缩小footer ends-->

<!--通用scripts starts-->
<div id="common_script">
    <!--common js-->
    <script th:src="@{/js/jquery-1.10.2.min.js}"></script>
    <script th:src="@{/js/jquery-ui-1.9.2.custom.min.js}"></script>
    <script th:src="@{/js/jquery-migrate-1.2.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/modernizr.min.js}"></script>
    <script th:src="@{/js/jquery.nicescroll.js}"></script>
    <!--common scripts for all pages-->
    <script th:src="@{js/scripts.js}"></script>
    <!--common js-->
</div>
<!-- 通用scripts ends-->
</body>
</html>