<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <title>登录</title>
    <link th:replace="common::common_header">
</head>

<body class="login-body unselectable">

<div class="container login-container">

    <form class="form-signin" method="post" th:action="@{/login}">
        <div class="glass glass-login">
            <div class="form-signin-heading text-center">
                <h1 class="login-title">Sign in</h1>
            </div>
            <div class="login-wrap">
                <div th:if="${msg != null}" style="line-height: 10px">
                    <label class="error" th:text="${msg}"></label>
                </div>
                <div th:if="${success != null}" style="line-height: 10px">
                    <label style="color:#4169E1;" th:text="${success}"></label>
                </div>
                <div class="glass input-wrap">
                    <label for="username"></label>
                    <div class="input-label user-svg" onclick="location.href='#username';">
                        <div style="padding: 5px;"></div>
                    </div>
                    <input id="username" type="text" name="username" class="input-content" placeholder="用户名"
                           autofocus required>
                </div>
                <div class="glass input-wrap">
                    <label for="passwd"></label>
                    <div class="input-label key-svg" onclick="location.href='#passwd';">
                        <div style="padding: 5px;"></div>
                    </div>
                    <input id="passwd" type="password" name="password" class="input-content" placeholder="密码" required>
                </div>
                <button class="btn btn-lg custom-btn btn-4" type="submit" id="login" aria-label="LoginBtn">
                    <i class="fa fa-check"></i>
                </button>
            </div>
        </div>
    </form>
</div>

<div class="container">
    <div class="form-signin" style="max-width: 150px; margin: auto;">
        <div class="glass glass-version">
            <label> Version <span th:text="#{version}"></span></label>
        </div>
    </div>
</div>

<div th:replace="common::#common_script"></div>

</body>

</html>
