<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <title>登录</title>
    <link th:replace="common::common_header">
</head>

<body class="login-body unselectable">

<div class="container login-container">

    <form class="form-signin" method="post" th:action="@{/login}">
        <div class="glass glass-login">
            <div class="form-signin-heading text-center">
                <h1 class="sign-title">Sign In</h1>
                <img src="images/login-logo.png" alt=""/>
            </div>
            <div class="login-wrap">
                <label style="color:red" th:text="${msg}"></label>
                <label style="color:#4169E1" th:text="${success}"></label>
                <input type="text" name="username" required class="form-control" placeholder="用户名" autofocus>
                <input type="password" name="password" required class="form-control" placeholder="密码">
                <button class="btn btn-lg btn-login btn-block" type="submit" id="login" aria-label="LoginBtn">
                    <i class="fa fa-check"></i>
                </button>
            </div>
        </div>
    </form>
</div>

<div class="container">
    <div class="form-signin" style="max-width: 150px; margin: auto;">
        <div class="glass glass-version">
            <label> Version <span th:text="#{version}"></span></label>
        </div>
    </div>
</div>

<div th:replace="common::#common_script"></div>

</body>

</html>
