<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" type="image/png">
    <title>教师首页</title>

    <link th:rel="stylesheet" th:href="@{/css/jquery.treetable.css}"/>
    <link th:rel="stylesheet" th:href="@{/css/jquery.treetable.theme.default.css}"/>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css}"/>
    <!--file upload-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-fileupload.min.css}"/>
    <!--gritter css-->
    <link rel="stylesheet" type="text/css" th:href="@{/js/gritter/css/jquery.gritter.css}"/>
    <!--Morris Chart CSS -->
    <link rel="stylesheet" th:href="@{/js/morris-chart/morris.css}">
    <link th:replace="common::common_header">
    <!-- main page css-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/main-page.css}">
    <style>
        a {
            color: black;
            text-decoration: none;
        }

        a:link {
            text-decoration: none;
        }

        a:visited {
            text-decoration: none;
        }

        a:hover {
            color: #1CAF9A;
            text-decoration: none;
        }

        a:active {
            text-decoration: none;
        }

        * {
            touch-action: pan-y;
        }
    </style>

</head>

<body class="teacher-page horizontal-menu-page unselectable">

<section>

    <!--nav section start-->
    <div th:replace="common::#teacher_common_nav"></div>
    <!--nav section end-->

    <!--body wrapper start-->
    <div class="wrapper">

        <!--heading starts-->
        <div class="col col-md-12">
            <div class="glass-content glass-heading page-heading">
                <h3>
                    实验报告预览
                </h3>
                <ul class="breadcrumb">
                    <li class="active"><span class="fa fa-home">教师首页</span></li>
                </ul>
            </div>
        </div>
        <!--heading ends-->

        <!--统计信息-->
        <div class="col col-md-12">
            <div class="col col-md-6">
                <div class="panel glass-content">
                    <div class="panel-body">
                        <!--statistics start-->
                        <div class="row state-overview">
                            <div class="col-md-6 col-xs-12 col-sm-6">
                                <div class="panel purple">
                                    <div class="symbol">
                                        <i class="material-icons-outlined">supervisor_account</i>
                                    </div>
                                    <div class="state-value">
                                        <div class="value">2</div>
                                        <div class="title">管理班级</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12 col-sm-6">
                                <div class="panel red">
                                    <div class="symbol">
                                        <i class="material-icons-outlined">publish</i>
                                    </div>
                                    <div class="state-value">
                                        <div class="value">3</div>
                                        <div class="title">发布实验</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row state-overview">
                            <div class="col-md-6 col-xs-12 col-sm-6">
                                <div class="panel blue">
                                    <div class="symbol">
                                        <i class="material-icons-outlined">star</i>
                                    </div>
                                    <div class="state-value">
                                        <div class="value">3</div>
                                        <div class="title">实验已评分</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12 col-sm-6">
                                <div class="panel green">
                                    <div class="symbol">
                                        <i class="material-icons-outlined">comment</i>
                                    </div>
                                    <div class="state-value">
                                        <div class="value">4</div>
                                        <div class="title">实验已评价</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--statistics end-->
                    </div>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="panel glass-content">
                    <div class="panel-body">
                        <!--more statistics box start-->
                        <div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-7 col-sm-7 col-xs-7">
                                        <div id="graph-donut" class="revenue-graph"></div>

                                    </div>
                                    <div class="col-md-5 col-sm-5 col-xs-5">
                                        <ul class="bar-legend">
                                            <li><span class="blue"></span> 按时提交</li>
                                            <li><span class="green"></span> 过时提交</li>
                                            <li><span class="red"></span> 未提交</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--more statistics box end-->
                    </div>
                </div>
            </div>
        </div>

        <!--详情信息-->
        <div class="col col-md-12">
            <!--左侧班级信息-->
            <div class="col col-md-2 ">
                <!-- 标题 -->
                <div class="panel glass-content">
                    <div class="panel-heading">
                        <span>班级信息</span>
                        <span class="tools pull-right">
                        <a class="fa fa-chevron-down" href="javascript:"></a>
                    </span>
                    </div>

                    <div class="panel-body">
                        <table id="treeTable" class="table table-hover">
                        </table>
                    </div>
                </div>

                <div>
                    <a href="#myModal" data-toggle="modal" class="btn custom-btn btn-4">
                        <span class="material-icons-outlined">post_add</span><span> 发布新实验</span>
                    </a>
                    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal"
                         class="modal fade" style="display: none;">
                        <div class="modal-dialog">
                            <div class="modal-content glass-content">
                                <div class="modal-header">
                                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×
                                    </button>
                                    <h4 class="modal-title">发布新实验</h4>
                                </div>
                                <!--上传表单-->
                                <div class="modal-body">
                                    <form role="form" th:action="@{/uploadTemplate(tno=${session.loginUser.tno})}"
                                          method="post" class="form-horizontal" enctype="multipart/form-data">
                                        <div class="form-group">
                                            <label class="control-label col-md-3" for="templateName">实验名称:</label>
                                            <div class="col-md-6">
                                                <input class="form-control" type="text" id="templateName" name="name"
                                                       placeholder="实验名称..." required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3" for="file">实验文件:</label>
                                            <div>
                                                <div class="controls col-md-9">
                                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                                <span class="btn btn-default btn-file">
                                                <span class="fileupload-new"><i
                                                        class="fa fa-paper-clip"></i>选择文件</span>
                                                <span class="fileupload-exists"><i class="fa fa-undo"></i>更改</span>
                                                <input type="file" class="default" id="file" name="file"
                                                       accept=".docx, .doc, .pdf, .txt"/>
                                                </span>
                                                        <span class="fileupload-preview"
                                                              style="margin-left:5px;"></span>
                                                    </div>
                                                    <span class="label label-danger ">NOTE!</span>
                                                    <span>文件限制文件限制为20MB以内的文件!</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3" for="classes">布置班级:</label>
                                            <div class="col-md-6">
                                                <select id="classes" name="class" class="form-control m-bot15">
                                                    <option th:each="c:${classes.keySet()}" th:value="${classes.get(c)}"
                                                            th:text="${c}">Option
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="deadline" class="col-md-3 control-label">截止日期:</label>
                                            <div class="input-group date form_datetime col-md-6"
                                                 style="padding: 0 15px;">
                                                <input required class="form-control" id="deadline" name="deadline"
                                                       type="text" value="" readonly="">
                                                <span class="input-group-addon"><span
                                                        class="glyphicon glyphicon-remove"></span></span>
                                                <span class="input-group-addon"><span
                                                        class="glyphicon glyphicon-th"></span></span>
                                            </div>
                                            <!--<div><label for="payment_due_at">Deadline</label>-->
                                            <!--    <input class="form-control" placeholder="" name="payment_due_at"-->
                                            <!--           type="datetime-local" id="payment_due_at" value="2016-05-12T18:00:00">-->
                                            <!--</div>-->
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-offset-3 col-lg-10" style="align-content: center">
                                                <button type="submit" class="btn btn-primary">提交</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!--右侧实验报告信息-->
            <div class="col col-md-10">
                <div class="panel glass-content">
                    <div class="panel-heading">实验报告管理</div>
                    <div class="panel-body" id="pb">
                        <div class="adv-table editable-table">
                            <table class="table table-striped table-hover table-bordered" id="editable-sample">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>实验</th>
                                    <th>提交人数</th>
                                    <th>截至日期</th>
                                    <th>操作
                                        <i data-original-title="修改实验 | 删除实验" type="button"
                                           class="fa fa-question-circle tooltips" data-toggle="tooltip"
                                           data-placement="top">
                                        </i>
                                    </th>
                                </tr>
                                </thead>
                                <tbody id="templates">
                                <tr class="gradeX selectable" th:each="template, stat:${templates}">
                                    <td th:text="${stat.count}">temp</td>
                                    <td>
                                        <a th:text="${template.name}"
                                           th:href="|/stats?templateId=${template.templateId}#frame|">
                                        </a>
                                    </td>
                                    <td><span th:text="${template.type}"></span></td>
                                    <td th:text="${#dates.format(template.deadline,'yyyy-MM-dd HH:mm')}"></td>
                                    <td><a class="fa fa-edit edit" href="#updateModal" data-toggle="modal"
                                           th:attr="onclick=|getValues('${template.templateId}', '${template.name}', '${template.deadline}', '${template.classId}', 'template.courseId')|"></a>|
                                        <a class="fa fa-trash-o delete"
                                           th:href="@{/deleteTemplate(templateId=${template.templateId})}">
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1"
                     id="updateModal"
                     class="modal fade" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content glass-content">
                            <div class="modal-header">
                                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×
                                </button>
                                <h4 class="modal-title">修改实验</h4>
                            </div>
                            <div class="modal-body">
                                <form role="form" th:action="@{/modifyTemplate(tno=${session.loginUser.tno})}"
                                      method="post" class="form-horizontal" enctype="multipart/form-data">
                                    <label for="templateIdUpdate" style="display: none"></label>
                                    <input style="display: none" id="templateIdUpdate" name="templateId"/>
                                    <div class="form-group">
                                        <label class="control-label col-md-3" for="templateNameUpdate">实验名称:</label>
                                        <div class="col-md-6">
                                            <input class="form-control" type="text" id="templateNameUpdate"
                                                   name="name" placeholder="实验名称..." required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="deadlineUpdate" class="col-md-3 control-label">截止日期:</label>
                                        <div class="input-group date form_datetime col-md-6" style="padding: 0 15px;">
                                            <input required class="form-control" id="deadlineUpdate" name="deadline"
                                                   type="text" value="" readonly="">
                                            <span class="input-group-addon"><span
                                                    class="glyphicon glyphicon-remove"></span></span>
                                            <span class="input-group-addon"><span
                                                    class="glyphicon glyphicon-th"></span></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3" for="fileUpdate">实验文件:</label>
                                        <div>
                                            <div class="controls col-md-9">
                                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                                <span class="btn btn-default btn-file">
                                                <span class="fileupload-new"><i
                                                        class="fa fa-paper-clip"></i>选择文件</span>
                                                <span class="fileupload-exists"><i class="fa fa-undo"></i>更改</span>
                                                <input type="file" class="default" id="fileUpdate" name="file"
                                                       accept=".docx, .doc, .pdf, .txt"/>
                                                </span>
                                                    <span class="fileupload-preview" style="margin-left:5px;"></span>
                                                </div>
                                                <span class="label label-danger ">NOTE!</span>
                                                <span>文件限制为20MB以内的文件!</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-offset-3 col-lg-10" style="align-content: center">
                                            <button type="submit" class="btn btn-primary">修改</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--body wrapper end-->

    <!--footer section start-->
    <div th:replace="common::#common_footer_shrink_left"></div>
    <!--footer section end-->

</section>

<!-- Placed js at the end of the document so the pages load faster -->
<div th:replace="common::#common_script"></div>

<!--script for editable table-->
<script th:src="@{/js/editable-table.js}"></script>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.treetable.js}"></script>
<!--日期格式转换-->
<script th:src="@{/js/date-formatter.js}"></script>
<!--教师页面初始化-->
<script type="text/javascript" th:src="@{js/teacher-init.js}"></script>
<script type="text/javascript" th:src="@{js/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>
<script type="text/javascript" th:src="@{js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js}"></script>
<script type="text/javascript"
        th:src="@{js/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js}"></script>
<!--file upload-->
<script type="text/javascript" th:src="@{js/bootstrap-fileupload.min.js}"></script>
<!--script for editable table-->
<script th:src="@{/js/editable-table.js}"></script>
<!--data table-->
<script type="text/javascript" th:src="@{/js/data-tables/jquery.dataTables.js}"></script>
<script type="text/javascript" th:src="@{/js/data-tables/DT_bootstrap.js}"></script>
<script th:src="@{/js/gritter/js/jquery.gritter.min.js}"></script>
<script th:inline="javascript">
    jQuery(document).ready(function () {
        const message = [[${message}]];
        const success = [[${success}]];
        if (message) {
            console.log(message);
            $.gritter.add({
                title: '提交失败!',
                text: message,
                sticky: false,
                time: '2000',
                class_name: 'failed'
            });
        } else if (success) {
            console.log(success);
            $.gritter.add({
                title: '成功提交!',
                text: success,
                sticky: false,
                time: '2000',
                class_name: 'success'
            });
        }
        // pie chart init
        Morris.Donut({
            element: 'graph-donut',
            data: [
                {value: 20, label: '按时提交', formatted: '20% 提交'},
                {value: 30, label: '过时提交', formatted: '有 30%'},
                {value: 50, label: '未提交', formatted: '50%'}
            ],
            backgroundColor: false,
            labelColor: '#49586e',
            colors: [
                '#4acacb', '#5ab6df', '#fe8676'
            ],
            formatter: function (x, data) {
                return data.formatted;
            }
        });

        EditableTable.init();
    });
</script>
<!--pickers initialization-->
<script th:src="@{/js/pickers-init.js}"></script>
<!--Morris Chart(pie chart)-->
<script th:src="@{/js/morris-chart/morris.js}"></script>
<script th:src="@{/js/morris-chart/raphael-min.js}"></script>

</body>
</html>
