<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">


    <title>教师页面</title>

    <link th:rel="stylesheet" th:href="@{/css/jquery.treetable.css}"/>
    <link th:rel="stylesheet" th:href="@{/css/jquery.treetable.theme.default.css}"/>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css} "/>
    <link th:replace="common::common_header">
    <style>
        tr:hover {
            background-color: #E6E6E6;
        }

        td {
            padding: 4px 0;
        }

    </style>

</head>

<body class="horizontal-menu-page">

<section>

    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="images/logo.png" alt="">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a th:href="@{/mainTeacher}">Dashboard</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img alt="" src="images/photos/user-avatar.png">
                            <span th:text="${session.loginUser.tname}">John Doe</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <!--<li><a href="#">Profile</a></li>-->
                            <li><a th:href="@{/change_passwd.html(id=${session.loginUser.tno})}">修改密码</a></li>
                            <li><a th:href="@{/logout}">退出登录</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


    <!--body wrapper start-->
    <!-- 标题 -->
    <div class="page-heading">
        <h3><em>实验报告预览</em></h3>
    </div>
    <!--body wrapper start-->
    <div class="wrapper">
        <div class="col col-md-2">
            <div class="panel">
                <div class="panel-heading">
                    <a href="#myModal" data-toggle="modal" class="btn btn-default btn-sm">
                        <i class="fa fa-upload"></i>上传新模板
                    </a>
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" href="javascript:"></a>
                        <a class="fa fa-times" href="javascript:"></a>
                    </span>
                </div>
                <span th:if="${message != null}">
                            <span th:text="${message}" class="fa fa-warning" style="color: red"></span>
                        </span>
                <span th:if="${success != null}">
                            <span th:text="${success}" class="fa fa-check-circle-o" style="color: #4169E1"></span>
                        </span>
                <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal"
                     class="modal fade" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×
                                </button>
                                <h4 class="modal-title">Form Tittle</h4>
                            </div>
                            <!--上传表单-->
                            <div class="modal-body">
                                <form role="form" th:action="@{/uploadTemplate(tno=${session.loginUser.tno})}"
                                      method="POST"
                                      enctype="multipart/form-data">
                                    <label>
                                        <input type="file" name="file" accept=".docx, .doc, .pdf">
                                    </label>
                                    <div>
                                        <label for="deadline">截至日期</label><br/>
                                        <input type="date" id="deadline" name="deadline" required>
                                    </div>
                                    <div>
                                        <label for="class">布置班级</label>
                                        <select id="class" name="class" class="form-control m-bot15">
                                            <option th:each="c:${classes.keySet()}" th:value="${classes.get(c)}"
                                                    th:text="${c}">Option
                                            </option>
                                        </select>
                                    </div>
                                    <br/><br/>
                                    <button type="submit" class="btn btn-primary">提交</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-body">
                    <table id="treeTable" class="table table-hover">
                    </table>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <header class="panel-heading">
                        <span>班级名 - 实验名</span>
                        <span class="tools pull-right">
                        <a href="javascript:" class="fa fa-chevron-down"></a>
                        <a href="javascript:" class="fa fa-times"></a>
                     </span>
                    </header>
                </div>
                <span th:if="${message != null}">
                            <span th:text="${message}" class="fa fa-warning" style="color: red"></span>
                        </span>
                <span th:if="${success != null}">
                            <span th:text="${success}" class="fa fa-check-circle-o" style="color: #4169E1"></span>
                        </span>

                <div class="panel-body">
                    <table id="treeTable1" class="table table-hover">
                    </table>
                </div>
            </div>
        </div>
        <div class="col col-md-10" style="height: 500px">
            <div class="panel">
                <div class="panel-heading"><h2>模板名</h2></div>
                <div class="panel-body"><p>Hello, Hello!</p></div>
            </div>
        </div>
    </div>
    <!--body wrapper end-->

    <!--footer section start-->
    <footer class="sticky-footer">
        Footer contents goes here
    </footer>
    <!--footer section end-->

</section>

<!-- Placed js at the end of the document so the pages load faster -->
<div th:replace="common::#common_script"></div>

<!--script for editable table-->
<script th:src="@{/js/editable-table.js}"></script>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.treetable.js}"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            "type": 'get',
            "url": '/nodes',
            "dataType": "json",
            "success": function (data) {
                $.each(data, function (idx, obj) {
                    $("#treeTable").append("<tr data-tt-id=\"" + obj.nid + "\" data-tt-parent-id=\"" + obj.pid + "\"><td><a href='#' class='btn-link'>" + obj.text + "</a></td></tr>");
                });
                $("#treeTable").treetable({
                    expandable: true,
                    initialState: "collapsed", /*expanded*/
                    clickableNodeNames: true,
                    indent: 30
                });
            }
        });
    });
</script>


</body>
</html>
