<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.ReportMapper">

    <resultMap id="BaseResultMap" type="generator.domain.Report">
        <id property="rid" column="rid" jdbcType="VARCHAR"/>
        <result property="filename" column="filename" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="uploader" column="uploader" jdbcType="VARCHAR"/>
        <result property="reportTemplate" column="report_template" jdbcType="VARCHAR"/>
        <result property="uploadTime" column="upload_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        rid,filename,type,
        uploader,report_template,upload_time,
        data
    </sql>
</mapper>
